.caixa {
    background-color:lightcyan;
    padding: 10px;
    border-radius: 5px;
    text-align:justify;
    margin-bottom: 40px;
}

body, html {
    background-color:aliceblue;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


h2 {
    font-style:initial;
    font-weight: normal;
    text-align: justify;
}

.font {
    font-style: normal;
    color:#001f3f;

}
.font h1 {
    font-style: normal;
    color: #001f3f;
}




#imagem_fundo {
    background-image: url(img/linda-paisagem.webp);
    height: 100%;
    text-align: center;
    background-size: cover;
}

#titulo {
    color:#001f3f;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-block-end: 5%;
    }



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex-basis: 48%;
}
.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.image img {
    max-height: 200px;
    width: auto;
    display: block;
    margin: 0 10px 20px;
}

.video {
    width: 80%;
}

.caixa, .column {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
}

.caixa-texto {
    background-color:lightblue;
    padding: 20px;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 1000px;
}